@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    height: 22px;
    width: 22px;
  }
}

.pullee {
	border-radius: 1em;
  width: 100%;
}

.pullee::-webkit-slider-thumb {
  background-repeat: no-repeat !important;
  background-image: url('/sos-icon.svg') !important;
  background-position: center !important;
  background-color: #9C1111 !important;
  transform: scale(3);
  transition: transform ease-out 100ms;
}

.familiar::-webkit-slider-thumb {
  background-repeat: no-repeat !important;
  background-image: url('/house-icon.svg') !important;
  background-position: center !important;
  background-color: #9C1111 !important;
  transform: scale(3);
  transition: transform ease-out 100ms;
}

.pullee::-webkit-slider-runnable-track {
  padding: 0.5em;
  border-radius: 1em;
}
